web/WEB-INF/wsdl/localhost_8080/ImatgeWSApplication/ImatgeWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://imatge.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://imatge.me.org/" name="ImatgeWS">
<types>
<xsd:schema>
<xsd:import namespace="http://imatge.me.org/" schemaLocation="http://localhost:8080/ImatgeWSApplication/ImatgeWS?xsd=1"/>
</xsd:schema>
</types>
<message name="registreImatge">
<part name="parameters" element="tns:registreImatge"/>
</message>
<message name="registreImatgeResponse">
<part name="parameters" element="tns:registreImatgeResponse"/>
</message>
<message name="modifyImatge">
<part name="parameters" element="tns:modifyImatge"/>
</message>
<message name="modifyImatgeResponse">
<part name="parameters" element="tns:modifyImatgeResponse"/>
</message>
<message name="listImatges">
<part name="parameters" element="tns:listImatges"/>
</message>
<message name="listImatgesResponse">
<part name="parameters" element="tns:listImatgesResponse"/>
</message>
<message name="searchById">
<part name="parameters" element="tns:searchById"/>
</message>
<message name="searchByIdResponse">
<part name="parameters" element="tns:searchByIdResponse"/>
</message>
<message name="searchByTitle">
<part name="parameters" element="tns:searchByTitle"/>
</message>
<message name="searchByTitleResponse">
<part name="parameters" element="tns:searchByTitleResponse"/>
</message>
<message name="searchByDate">
<part name="parameters" element="tns:searchByDate"/>
</message>
<message name="searchByDateResponse">
<part name="parameters" element="tns:searchByDateResponse"/>
</message>
<message name="searchByAutor">
<part name="parameters" element="tns:searchByAutor"/>
</message>
<message name="searchByAutorResponse">
<part name="parameters" element="tns:searchByAutorResponse"/>
</message>
<message name="searchByKeywords">
<part name="parameters" element="tns:searchByKeywords"/>
</message>
<message name="searchByKeywordsResponse">
<part name="parameters" element="tns:searchByKeywordsResponse"/>
</message>
<portType name="ImatgeWS">
<operation name="registreImatge">
<input wsam:Action="http://imatge.me.org/ImatgeWS/registreImatgeRequest" message="tns:registreImatge"/>
<output wsam:Action="http://imatge.me.org/ImatgeWS/registreImatgeResponse" message="tns:registreImatgeResponse"/>
</operation>
<operation name="modifyImatge">
<input wsam:Action="http://imatge.me.org/ImatgeWS/modifyImatgeRequest" message="tns:modifyImatge"/>
<output wsam:Action="http://imatge.me.org/ImatgeWS/modifyImatgeResponse" message="tns:modifyImatgeResponse"/>
</operation>
<operation name="listImatges">
<input wsam:Action="http://imatge.me.org/ImatgeWS/listImatgesRequest" message="tns:listImatges"/>
<output wsam:Action="http://imatge.me.org/ImatgeWS/listImatgesResponse" message="tns:listImatgesResponse"/>
</operation>
<operation name="searchById">
<input wsam:Action="http://imatge.me.org/ImatgeWS/searchByIdRequest" message="tns:searchById"/>
<output wsam:Action="http://imatge.me.org/ImatgeWS/searchByIdResponse" message="tns:searchByIdResponse"/>
</operation>
<operation name="searchByTitle">
<input wsam:Action="http://imatge.me.org/ImatgeWS/searchByTitleRequest" message="tns:searchByTitle"/>
<output wsam:Action="http://imatge.me.org/ImatgeWS/searchByTitleResponse" message="tns:searchByTitleResponse"/>
</operation>
<operation name="searchByDate">
<input wsam:Action="http://imatge.me.org/ImatgeWS/searchByDateRequest" message="tns:searchByDate"/>
<output wsam:Action="http://imatge.me.org/ImatgeWS/searchByDateResponse" message="tns:searchByDateResponse"/>
</operation>
<operation name="searchByAutor">
<input wsam:Action="http://imatge.me.org/ImatgeWS/searchByAutorRequest" message="tns:searchByAutor"/>
<output wsam:Action="http://imatge.me.org/ImatgeWS/searchByAutorResponse" message="tns:searchByAutorResponse"/>
</operation>
<operation name="searchByKeywords">
<input wsam:Action="http://imatge.me.org/ImatgeWS/searchByKeywordsRequest" message="tns:searchByKeywords"/>
<output wsam:Action="http://imatge.me.org/ImatgeWS/searchByKeywordsResponse" message="tns:searchByKeywordsResponse"/>
</operation>
</portType>
<binding name="ImatgeWSPortBinding" type="tns:ImatgeWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registreImatge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modifyImatge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listImatges">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByAutor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ImatgeWS">
<port name="ImatgeWSPort" binding="tns:ImatgeWSPortBinding">
<soap:address location="http://localhost:8080/ImatgeWSApplication/ImatgeWS"/>
</port>
</service>
</definitions>